{% extends "layout.html" %}
{% block content %}

<div id="map" style="height: 600px; width: 1000px; margin: 50px auto 0;"></div>

<button id="download-button">Download GPS Points</button>

<script>
    var gpsPoints = {{ gps_points | safe }};

    function initMap() {
        var center = { lat: 24.454865, lng: 32.690726 }; // Default center

        if (gpsPoints.length > 0) {
            center = gpsPoints[0].start; // Use the first point's start location
        }

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 100,
            center: center,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        });

        var index = 0;

        function addNextMarker() {
            if (index < gpsPoints.length * 2) {
                var point = gpsPoints[Math.floor(index / 2)];
                var markerType = (index % 2 === 0) ? 'start' : 'end';

                var marker = new google.maps.Marker({
                    position: (markerType === 'start') ? point.start : point.end,
                    map: map,
                    title: markerType.charAt(0).toUpperCase() + markerType.slice(1)
                });

                index++;
                setTimeout(addNextMarker, 700);
            }
        }

        addNextMarker();
    }

    document.getElementById('download-button').addEventListener('click', function() {
        var filePath = '{{ gps_file_path }}';
        if (filePath) {
            window.location.href = '/download_gps_file?file_path=' + encodeURIComponent(filePath);
        }
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>

{% endblock content %}
