{% extends "layout.html" %}
{% block content %}

<body>
    <div class="container">
        <h2 style="margin-top: 20px;">Processed Data</h2>    
        {% if data %}
        <div>
            {% if data.thermal_image_path %}
            <input type="hidden" name="thermal_image" value="{{ data.thermal_image_path }}">
            <img class="img-fluid w-50 d-none d-sm-block" src="{{ data.thermal_image_path }}" alt="">
            {% endif %}

            {% if data.rgb_image_path %}
            <input type="hidden" name="rgb_image" value="{{ data.rgb_image_path }}">
            <p><strong>Defect Type:</strong> {{ data.defect_type }}</p>
            <img class="img-fluid w-50 d-none d-sm-block" src="{{ url_for('static', filename=data.rgb_image_path) }}" alt="">
            {% endif %}

            {% if data.rgb_folder %}
            <div class="row">
                {% for image in data.rgb_folder %}
                <div class="col-md-3">
                    <input type="hidden" name="rgb_image" value="{{image.rgb_image_path}}">
                    <img class="img-fluid" src="{{ url_for('static', filename=image.rgb_image_path) }}" alt="">
                    <p><strong>Defect type:</strong> {{ image.defect_type }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if data.thermal_folder %}
            <div class="row">
                {% for image in data.thermal_folder %}
                <div class="col-md-3">
                    <input type="hidden" name="thermal_image" value="{{image.thermal_image_path}}">
                    <img class="img-fluid" src="{{ image.thermal_image_path }}" alt="">
                </div>
                {% endfor %}
            </div>
            {% endif %}


        </div>
  
         {% else %}
        <p>No data available.</p>
        {% endif %}
    </div>


<div class="container text-center"> 
    <form id="pdfForm" method="POST" action="/generate-pdf">
        {% if data %}
        <button type="submit" class="btn btn-primary">Download SolarInspect Report (PDF)</button>
        {% endif %}

    </form>
 </div>
</body>

{% endblock content %}