{% extends "layout.html" %}
{% block content %}

<div id="map" style="height: 450px; width: 600px;"></div>

<script>
  // Initialize the map
  function initMap() {
    // Specify the center of the map
    var center = gpsPoints.length > 0 ? { lat: gpsPoints[0].lat, lng: gpsPoints[0].lng } : { lat: 29.6802, lng: 32.3174 };

    // Create the map with satellite view
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: center,
      mapTypeId: google.maps.MapTypeId.SATELLITE // Set map type to satellite
    });



    // Loop through GPS points and add markers to the map
    gpsPoints.forEach(function (point) {
      var marker = new google.maps.Marker({
        position: { lat: point.lat, lng: point.lng },
        map: map,
        title: point.title
      });
    });
  }
</script>

<!-- Load the Google Maps JavaScript API with your API key -->
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>

{% endblock content %}
